.header {
    width: 100%;
    height: 100px;
    background-color: #4A777A;
    border-radius: 20px;
    border-right: 1px solid #2F4F4F;
    border-top: 1px solid #2F4F4F;
    background-image: url("header.png");
    background-size:  450px;
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 48px;
    padding-top: 30px;
    color: white;
}


.divBody {

    margin: 15 40 15 40;
    background-color: #EEF7FA;
    background-image: url("duck.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: bottom right;
    color: #2c3e50;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    padding-top: 3px;
    padding-left: 20px;
    padding-bottom: 3px;
}

.newpost {

    margin: 15 40 15 40;
    background-color: #EEF7FA;
    color: #2c3e50;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    padding-top: 3px;
    padding-left: 20px;
    padding-bottom: 3px;
}

.inputTitle {
    width: 300px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

p {
    border: 1px solid #2F4F4F;
    margin: 10px 25px 10px 25px;
    padding: 5px

}

.post_header {
        border-radius: 5px;
        margin: 15 40 15 40;
        background-color: #EEF7FA;
        color: #2c3e50;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: 18px;
        padding-top: 3px;
        padding-left: 20px;
        padding-bottom: 3px;
}

